.site-header {
  min-height: 56px;
  width: $container-width;
  position: fixed;
  background-color: #d3d3d3;
  z-index: 100;
}

.site-header a {
  text-decoration: none;
}

.site-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  float: left;
}

.menu-list {
  line-height: $header-thickness;
  float: right;
}

.menu-link {
  padding: 5px 10px;
}

/* Ensure consistency across all viewports */
@media (max-width: $container-width) {
  .site-header {
    min-height: 56px;
    width: 95vw; /* Slight adjustment for mobile width */
    position: fixed;
    background-color: #d3d3d3;
    z-index: 100;
  }

  /* Preserve desktop menu style for mobile */
  .menu-list {
    display: flex; /* Ensure it shows the menu list on mobile */
    flex-direction: row; /* Horizontal layout */
    justify-content: flex-end;
  }

  .menu-link {
    padding: 5px 10px;
  }

  .dropdown, .dropbtn, .dropdown-content {
    display: none; /* Remove dropdown-related elements */
  }
}
