---
layout: patcher
title: Home
---


<body>
  <div>
        <!-- (Optional) The guardrails.js script isn't required for RNBO to work, and you can skip including it -->
    <!-- It simply offers some helpful error messages for common problems -->
    <script type="text/javascript" src="js/guardrails.js"></script>

    <!-- Import RNBO Engine Wrapper -->
    <!-- Make sure to include the RNBO engine version to the version of your exported code, found in rnbopackage.json -->
    
  </div>
  <div style ="  width: 100vw; position: relative; left: calc(-50vw + 50%);" id="patcherCanvas">
    <script type="text/javascript" src="js/app.js"></script> 
  </div>

  <div>
    <p style="text-align:center; color: red; font-weight: bold;">Composition: Lucas Gaudin - Spleen</p>
  </div>

  <div>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Here's the DoomFuzz distortion in action.</p>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Integrated to webiste using RNBO & js</p>
  </div>

  <div style="position:relative;padding-top:30%;">

    <h1>HIVE</h1>
    <img src="{{ site.github.url }}/assets/img/hive-1.jpg" alt="hive-image2" width="100%" height="100%" style = "max-width: 100%;">
    <p style="text-align:center; font-size: medium; font-weight: bold;">An embedded framework for quick prototyping of Programmable Digital Music Instruments (DMIs)</p>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Read more <a href="https://yashiquechalil.com/hive">here.</a></a> </p>

  </div>

  <div style="position:relative;padding-top:30%;">

    <h1>순수박물관 예주은</h1>
    <h1>The Pure Exhibition</h1>
    <video width="100%" height="100%" controls>
      <source src="{{ site.github.url }}/assets/vid/순수박물관 예주은.m4v" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Sound Design/Mixing</p>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Watch the full film <a href="https://www.youtube.com/watch?v=wuLAh5xXiyE">here.</a> </p>

  </div>

  <div class="container">
    <h2>Carousel Example</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
  
        <div class="item active">
          <video width="100%" height="100%" controls>
            <source src="{{ site.github.url }}/assets/vid/순수박물관 예주은.m4v" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="carousel-caption">
            <h2>순수박물관 예주은 (The Pure Exhibition)</h2>
            <p style="text-align:center; font-size: medium; font-weight: bold;">Sound Design/Mixing</p>
            <p style="text-align:center; font-size: medium; font-weight: bold;">Watch the full film <a href="https://www.youtube.com/watch?v=wuLAh5xXiyE">here.</a> </p>
          </div>
        </div>
  
        <div class="item">
          
          
          <img src="{{ site.github.url }}/assets/img/hive-1.jpg" alt="hive-image2" width="100%" height="100%" style = "max-width: 100%;">
          <div class="carousel-caption">
            <h3>HIVE</h3>
            <p style="text-align:center; font-size: medium; font-weight: bold;">An embedded framework for quick prototyping of Programmable Digital Music Instruments (DMIs)</p>
            <p style="text-align:center; font-size: medium; font-weight: bold;">Read more <a href="https://yashiquechalil.com/hive">here.</a></a> </p>
          </div>
        </div>
      
        <div class="item">
          <img src="{{ site.github.url }}/assets/img/hive-3.jpg" alt="hive-image2">
          <div class="carousel-caption">
            <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div>
        </div>
    
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</body>

