---
layout: patcher
title: Home
---


<body>
  <div>
        <!-- (Optional) The guardrails.js script isn't required for RNBO to work, and you can skip including it -->
    <!-- It simply offers some helpful error messages for common problems -->
    <script type="text/javascript" src="js/guardrails.js"></script>

    <!-- Import RNBO Engine Wrapper -->
    <!-- Make sure to include the RNBO engine version to the version of your exported code, found in rnbopackage.json -->
    
  </div>
  <div style ="  width: 100vw; position: relative; left: calc(-50vw + 50%);" id="patcherCanvas">
    <script type="text/javascript" src="js/app.js"></script> 
  </div>

  <div>
    <p style="text-align:center; color: red; font-weight: bold;">Composition: Lucas Gaudin - Spleen</p>
  </div>

  <div>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Here's the DoomFuzz distortion in action.</p>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Integrated to webiste using RNBO & js</p>
  </div>

  <div style="position:relative;padding-top:30%;">

    <h1>AI</h1>
    <iframe width="100%" height="100%" style = "max-height: 100%;" src="https://www.youtube.com/embed/zioyLQRZVgg?si=4p9NkIpPWHLpw8ig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p style="text-align:center; font-size: medium; font-weight: bold;">This audio was synthesised with an AI model I trained on the sounds that fall under the umwelt of plants. </p>
    <p style="text-align:center; font-size: medium; font-weight: bold;">I am currently working as a Model reliability Engineer at Datamind Audio Ltd. Read <a href="https://yashiquechalil.com/ai"> more.</a> </p>

  </div>

  <div style="position:relative;padding-top:30%;">

    <h1>HIVE</h1>
    <img src="{{ site.github.url }}/assets/img/hive-1.jpg" alt="hive-image2" width="100%" height="100%" style = "max-width: 100%;">
    <p style="text-align:center; font-size: medium; font-weight: bold;">An embedded framework for quick prototyping of Programmable Digital Music Instruments (DMIs)</p>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Read <a href="https://yashiquechalil.com/hive"> more.</a></a> </p>

  </div>

  <div style="position:relative;padding-top:30%;">

    <h1>순수박물관 예주은</h1>
    <h1>The Pure Exhibition</h1>
    <video width="100%" height="100%" controls>
      <source src="{{ site.github.url }}/assets/vid/순수박물관 예주은.m4v" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Sound Design/Mixing</p>
    <p style="text-align:center; font-size: medium; font-weight: bold;">Watch the <a href="https://www.youtube.com/watch?v=wuLAh5xXiyE"> full film.</a> </p>

  </div>

</body>

